body {
    background: white;
    color: black;
    font-family: 'Playfair Display', serif;
   overflow-x: hidden;
}

.main {
    text-align: left;
    margin: 0 20%;



}

br{
    width:50%;
    margin:0 auto;
}
.interactivegraph {
    padding: 0 15%;

}

h1 {
    text-align: center;
    text-decoration: wavy;
    padding: 5% 0 0 0;
}

.story-intro {
    padding: 10% 0 0 0;
    margin: 0 10%;
}

.outer-container {
    width: 100%;
    height: 100%;

}

.inner-container {
    display: inline-block;
    position: relative;
    width: 100%;
}

.text-overlay {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 55%;
    left: 20%;
    right: 20%;
    transform: translateY(-50%);
    color: #000030;
}

footer {
    text-align: center;

    font-size:0.6em;
}

h2 {
    font-size: 1em;
}

.text-overlay p {
    font-size: .8em;
    line-height: 3;
}

.baseball {
    margin: 0 15%;
    max-width: 70%;
}

img {
    display: block;
    border: 3px solid #666;
    /* height: auto;
    transition: .5s ease;
    backface-visibility: hidden; */
    width: 100%;

}


.image-link {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #000;
}

.img-block:hover .overlay {
    opacity: .75;
}

.text {
    color: white;
    position: absolute;
    text-decoration: none;
    top: 50%;
    left: 50%;
    font-size: 2em;
    font-family: 'Playfair Display', serif;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.text:hover {
    text-decoration: none;
    color: white;
    font-family: 'Playfair Display', serif;
}

.links .col-sm-4 {
    padding: 1% 1% 1% 1%;
}

.img-block {
    position: relative;
    width: 100%;
    margin: 5% 0 0 0;


}



figure {

    font-style: italic;
    font-size: small;
    max-width: 50%;
    text-align: center;
    margin: 0 0 5% 25%;

}

.links a {
    color: gray;
}



@media(max-width:900px) {
    .text-overlay {
        left: 10%;
        right: 10%;
        top: 55%;


    }}



    @media (max-width:775px) {


        h1 {
            font-size: 1.5em;
        }

        h2 {
            font-size: .7em;
        }
    }




    @media (min-width:675px) {
        .mobile {
            display: none;
        }

        img {
            height: 100%;
            width: 100%
        }



    }

    @media (min-width:450px) {
        .mobile {
            display: none;
        }

        img {
            height: 100%;
            width: 100%
        }



    }

    @media(max-width:450px) {

        .desktop {
            display: none;
        }

        img {
            height: 100%;
            width: 100%
        }
        .text-overlay{top:60%;
        left:2%;}


    
}